# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
**/.idea/


/photoz/app/jte-classes/
photoz/app/bin
/photoz/app/src/main/static/out.css
/photoz/node_modules/
/photoz/package-lock.json
